<a
  href="/"
  class="flex flex-row items-center gap-3 hover:text-primary transition-colors duration-300 p-1 hover:pointer-events-none!"
>
  <img src="/white.svg" alt="Sylve Logo" class="logo-dark size-6 hidden" />
  <img src="/black.svg" alt="Sylve Logo" class="logo-light size-6 block" />
  <span class="font-semibold tracking-[.45em] text-xl">SYLVE</span>
</a>
