@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "tailwindcss";

:root {
  --radius: 0.625rem;
  --background: #f7f8f8;
  --foreground: #08090a;
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #f7f8f8;
  --primary-foreground: oklch(0.205 0 0);
  --secondary: #d0d6e0;
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: #ffffff14;
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.dark,
:root[data-theme="dark"] {
  --background: #08090a;
  --foreground: #f7f8f8;
  --card: oklch(0.2615 0 0);
  --card-foreground: oklch(0.94 0 0);
  --popover: oklch(0.37 0 0);
  --popover-foreground: oklch(0.94 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.43 0 0);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.2615 0 0);
  --muted-foreground: oklch(0.84 0 0);
  --accent: oklch(0.53 0 0);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.62 0.27 25);
  --border: oklch(0.31 0 0);
  --input: oklch(0.37 0 0);
  --ring: oklch(0.556 0 0);
  --sidebar: oklch(0.26 0 0);
  --sidebar-foreground: oklch(0.94 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.37 0 0);
  --sidebar-accent-foreground: oklch(0.94 0 0);
  --sidebar-border: oklch(0.43 0 0);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-surface-100: var(--surface-100);
  --color-surface-200: var(--surface-200);
  --color-surface-300: var(--surface-300);
  --color-surface-content: var(--surface-content);
}

* {
  @apply border-border outline-ring/50;
}

body {
  @apply bg-background text-foreground;
}

.content-panel {
  @apply bg-background;
}

.sidebar-content {
  @apply bg-muted border-t;
}

.right-sidebar-container {
  @apply bg-background border-t;
}

header.header {
  @apply bg-muted backdrop-blur-md border-none;
}

.sl-container {
  @apply max-w-full;
}

body:has(.hero-section) .content-panel:first-child {
  @apply hidden;
}

body:has(.hero-section) .sl-sidebar-content {
  @apply bg-background;
}

body:has(.hero-section) .header.header {
  @apply bg-transparent backdrop-blur-md border-none;
}

.text-gradient {
  background: linear-gradient(
    to right bottom,
    var(--foreground) 30%,
    color-mix(in srgb, var(--foreground) 40%, transparent)
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.animate-fade-in {
  animation: fade-in 700ms ease-out forwards;
  animation-delay: var(--animation-delay, 0ms);
}

@keyframes image-rotate {
  0% {
    transform: rotateX(25deg);
  }
  25% {
    transform: rotateX(25deg) scale(0.9);
  }
  60%,
  100% {
    transform: none;
  }
}

.animate-image-rotate {
  animation: image-rotate 1400ms ease forwards;
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }
  10% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }
  100% {
    opacity: 0.2;
  }
}

.before\:animate-image-glow::before {
  animation: image-glow 4100ms 600ms ease-out forwards;
}

@keyframes sketch-lines {
  0% {
    stroke-dashoffset: 1;
  }
  50%,
  99% {
    stroke-dashoffset: 0;
  }
  100% {
    visibility: hidden;
  }
}

.animate-sketch-lines path {
  animation: sketch-lines 1200ms ease-out forwards;
}

@keyframes glow-line-horizontal {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(min(60vw, 45rem));
  }
}

.animate-glow-line-horizontal {
  animation: glow-line-horizontal var(--animation-duration) ease-in forwards;
}

@keyframes glow-line-vertical {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(min(21vw, 45rem));
  }
}

.animate-glow-line-vertical {
  animation: glow-line-vertical var(--animation-duration) ease-in forwards;
}

@keyframes border-spin {
  to {
    transform: rotate(-360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .animate-image-rotate,
  .before\:animate-image-glow::before {
    animation: none !important;
    transform: none !important;
  }
}

.card-wrapper {
  position: relative;
  padding: 1px; /* border thickness */
  border-radius: 0.75rem;
  overflow: hidden;
  background: transparent;
}

/* spinning border */
.card-wrapper::before {
  content: "";
  position: absolute;
  inset: -150%;
  background: conic-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.6)
  );
  animation: border-spin 7s linear infinite;
}

/* mask everything except border */
.card-wrapper::after {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--background);
  border-radius: inherit;
  z-index: 1;
}

.card-content {
  position: relative;
  z-index: 2;
  background: var(--background);
  border-radius: inherit;
}

@layer utilities {
  .animate-border-spin {
    animation: border-spin 7s linear infinite;
  }
}
