name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v4

      - name: Build
        id: build
        uses: vmactions/freebsd-vm@v1
        with:
          usesh: true
          prepare: pkg install -y node24 npm-node24 go git
          run: |
            export GOPATH=$HOME/go
            export PATH=$PATH:/usr/local/go/bin:$GOPATH/bin

            # Diagnostic info
            go version

            chmod +x scripts/build-deps-check.sh
            make

  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - uses: actions/checkout@v4

      - name: Test
        id: test
        uses: vmactions/freebsd-vm@v1
        with:
          usesh: true
          prepare: pkg install -y node24 npm-node24 go git
          run: |
            export GOPATH=$HOME/go
            export PATH=$PATH:/usr/local/go/bin:$GOPATH/bin

            make test
